In [1]:
import pandas as pd 
student_exam=pd.read_csv("student_exam_scores.csv")
student_exam

,student_id,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
0,S001,8.0,8.8,72.1,45,30.2
1,S002,1.3,8.6,60.7,55,25.0
2,S003,4.0,8.2,73.7,86,35.8
3,S004,3.5,4.8,95.1,66,34.0
4,S005,9.1,6.4,89.8,71,40.3
...,...,...,...,...,...,...
195,S196,10.5,5.4,94.0,87,42.7
196,S197,7.1,6.1,85.1,92,40.4
197,S198,1.6,6.9,63.8,76,28.2
198,S199,12.0,7.3,50.5,58,42.0
199,S200,10.2,6.3,97.4,68,37.8

In [2]:
student_exam.describe()

,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,6.325500,6.622000,74.830000,66.800000,33.955000
std,3.227317,1.497138,14.249905,15.663869,6.789548
min,1.000000,4.000000,50.300000,40.000000,17.100000
25%,3.500000,5.300000,62.200000,54.000000,29.500000
50%,6.150000,6.700000,75.250000,67.500000,34.050000
75%,9.000000,8.025000,87.425000,80.000000,38.750000
max,12.000000,9.000000,100.000000,95.000000,51.300000

In [3]:
student_exam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   student_id          200 non-null    object
 1   hours_studied       200 non-null    float64
 2   sleep_hours         200 non-null    float64
 3   attendance_percent  200 non-null    float64
 4   previous_scores     200 non-null    int64
 5   exam_score          200 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 9.5+ KB

In [4]:
student_exam.isnull().sum()

student_id            0
hours_studied         0
sleep_hours           0
attendance_percent    0
previous_scores       0
exam_score            0
dtype: int64

In [5]:
#labelEncoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
student_exam['student_id']=le.fit_transform(student_exam['student_id'])

In [7]:
student_exam.shape

(200, 6)

In [ ]:
# 2 sample t- test
import numpy as np 
sample_size=75
x=np.random.choice(student_exam['hours_studied'],sample_size)
y=np.random.choice(student_exam['exam_score'],sample_size)
print(x)
print(y)

[ 9.9  3.4  2.4  9.9  6.9  8.1 11.4  8.2  5.9  6.5  8.1 11.4  5.8  7.1
  4.4  9.9  5.6  5.8  5.7  6.9  3.9  8.   5.6  7.3  3.6 11.8  6.9  1.2
  1.2  7.2  8.5  5.9  7.8 10.5  8.8  9.   3.9  3.9  7.5  5.2  3.7  2.7
  1.1  8.   6.   3.9 10.2  5.   9.   6.6 10.7 11.   8.8 10.5 10.2 10.1
  3.7  3.5  2.   8.9  2.3 11.2  7.3  4.7  4.1  5.7  9.5 11.9  1.9  9.
  9.6  3.9  8.   5.2  1.6]
[27.3 23.7 38.4 34.2 30.7 45.8 21.7 34.  45.7 43.3 45.8 37.8 20.8 42.
 36.1 43.1 23.4 44.1 31.  23.9 48.6 39.5 37.5 33.4 42.  39.2 34.6 28.1
 28.8 40.9 28.8 35.9 33.  38.  40.8 28.  23.6 38.6 44.7 26.1 26.1 28.2
 34.4 51.3 35.7 28.8 30.  39.5 40.3 29.  34.2 26.4 31.  37.  28.9 37.
 19.  34.8 35.8 34.  34.6 41.1 36.2 34.5 26.3 40.9 31.  27.7 40.3 28.2
 22.9 48.6 36.2 39.9 26.8]

In [11]:
from scipy import stats
t_stat,p_value=stats.ttest_ind(x,y)
print("t_statistics :",round(t_stat,2))
print("p-value :",round(p_value,4))
# decision 
alpha=0.05
if p_value < alpha:
    print("Reject H0 and there is significant difference between hours studied and exam score")
else:
    print("Accept H0 and Reject H1,there is no  significant difference between hours studied and exam score")

t_statistics : -30.36
p-value : 0.0
Reject H0 and there is significant difference between hours studied and exam score

In [19]:
# 1 sample t test
sample_size=75
sample_population=np.random.choice(student_exam['sleep_hours'],sample_size)

In [20]:
sample_population

array([4.4, 6. , 4.5, 8.9, 4. , 6.8, 4.5, 8.1, 5.9, 4.6, 5.6, 7.9, 8.6,
       5.3, 5.1, 7.1, 6. , 7.5, 7.8, 8.7, 4.4, 6. , 7.1, 4.7, 4.5, 6. ,
       7. , 4.6, 6.1, 7.6, 4.3, 8.1, 7.4, 4.5, 4.5, 4.6, 8.3, 6.1, 7.1,
       4.8, 7.9, 8.5, 4.6, 6.9, 7.9, 7. , 7.3, 7. , 4.6, 5.5, 8.4, 6.6,
       6.6, 8.2, 4.4, 4.6, 8.1, 9. , 4.3, 7.7, 5.5, 6.7, 6.8, 5.2, 6.1,
       6.9, 4.6, 6.5, 5.7, 5.3, 6.6, 5. , 6. , 5. , 8.3])

In [21]:
population_mean=np.mean(student_exam['sleep_hours'])
population_mean

np.float64(6.621999999999999)

In [22]:
# 1 sample t test
# sample population= 75
# population mean= 33.955
t_stat,p_value=stats.ttest_1samp(sample_population,population_mean)
print("t_statistics :",round(t_stat,4))
print("p_value :",round(p_value,4))
# decision 
alpha=0.05
if p_value < alpha:
    print("Reject H0 and there is significant difference in sleep hours")
else:
    print("Accept H0 and Reject H1,there is no significant difference in sleep hours")

t_statistics : -2.1079
p_value : 0.0384
Reject H0 and there is significant difference in sleep hours